{% extends 'gallery_app/base.html' %}
{% block content %}
<div class="container">
    <h2 class="md-2">About Me</h1>
    <p>I strive to produce light and airy images that capture genuine expressions during that special wedding day. These moments cannot be repeated and the photos are the only way to relive them. Thus, investing in photography should be one of the top concerns in wedding-day preparations. Connecting with the bride and groom and having them appear their best is perhaps what I hope to show in the photos.

        ​
        
        Another one of the driving motivations to take wedding photos is to strengthen marriage and provide images that are classic, elegant, and timeless; and to help Bay Area brides feel beautiful on their special day! 
        
        ​
        
        Ultimately, my dream is to have one of my photos on your living room wall or a wedding album on your coffee table that will remind you of pleasant memories!</p>
</div>
{% endblock content%}