{% extends 'gallery_app/base.html' %}

{% block content %}

<h1>Portrait Gallery</h1>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/media/portrait2.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/media/portrait3.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/media/portrait1.jpg" alt="Third slide">
      </div>
    </div>
  </div>


{% endblock %}
