  {% comment %} <footer class="py-5 bg-dark">
    <div class="container">
    <p class="m-0 text-center text-white"><a href="#page-top">back to top</a></p>

    <p class="m-0 text-center text-white">Copyright &copy; 2020 Jose Nicdao Code Foundry </p>
    </div>
  </footer> {% endcomment %}


  <!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container">
    <!-- Grid row-->
    <div class="row text-center ">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic" href="http://www.facebook.com/josenicdao">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="http://www.twitter.com/josenicdao">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="http://www.instagram.com/josenicdao">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic" href="http://www.pinterest.com/josenicdao">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  <!-- Footer Elements -->
  </div>
  <!-- Copyright -->
      <p class="m-0 text-center text-white"><a href="#page-top">back to top</a></p>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
   Jose Nicdao Code Foundry
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->