{% comment %} <script type="text/javascript">
    var userFeed = new Instafeed({
        get: 'user',
        userId: '7390464541',
        accessToken: 'YOUR_ACCESS_TOKEN'
    });
    userFeed.run();
</script>

<script type="text/javascript" src="../static/js/instafeed.min.js"></script> {% endcomment %}


<div id="pixlee_container" class="mx-auto"><a href="http://www.instagram.com/josenicdao"><h4>Follow me on Instagram!</h4></a></div>

<script type="text/javascript">window.PixleeAsyncInit = function() {Pixlee.init({apiKey:'ZGivJ2rM-2THAi4SOW4_'});Pixlee.addSimpleWidget({widgetId:'26525'});};</script><script src="//instafeed.assets.pxlecdn.com/assets/pixlee_widget_1_0_0.js"></script>